<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="head-css" th:remove="tag">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="robots" content="noindex, nofollow" />
		<link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}">
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-WN5GTRFB');</script>
		<!-- End Google Tag Manager -->
		<!-- Layout config Js -->
		<script th:src="@{/assets/js/layout.js}"></script>
		<!-- Bootstrap Css -->
		<link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
		<!-- Icons Css -->
		<link th:href="@{/assets/css/icons.min.css}" rel="stylesheet" type="text/css" />
		<!-- App Css-->
		<link th:href="@{/assets/css/app.min.css}" rel="stylesheet" type="text/css" />
		<!-- custom Css-->
		<link th:href="@{/assets/css/custom.min.css}" rel="stylesheet" type="text/css" />
		<!-- Swiper Css -->
		<link th:href="@{/assets/libs/swiper/swiper-bundle.min.css}" rel="stylesheet" type="text/css" />
	</div>
</body>

</html>